In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
path ='../results/maxdeg'

In [13]:
c  = """fat200
GSE1730_q
GSE10158_q
orani
ego-facebook
grqc_q
uc64"""

In [14]:
file_list = c.split("\n")

In [15]:
import os

In [16]:
os.getcwd()

'c:\\Users\\18565\\Desktop\\Research Internship\\my cuda code\\SCS\\python'

In [17]:
len(file_list)

7

In [18]:
df = pd.DataFrame()
for filename in file_list:
    temp = pd.read_csv(os.path.join(path,filename),sep="|")
    temp['Graph'] = [filename]*len(temp)
    if (type(temp['Time'][0]) == np.int64):
        print(filename,sum(temp['Time']))
    else:
        print(filename,sum([int(i.replace(",","")) for i in temp['Time'].values]))
    df = pd.concat((df,temp))

fat200 69579
GSE1730_q 856141
GSE10158_q 3774064
orani 865652711
ego-facebook 222439843
grqc_q 25525
uc64 152515716

In [20]:
df.to_csv("../results/processed/3_8_Max_deg_results.csv",index=False)

In [19]:
df.head()

   N1  N2  QID    Time  Degree  Overtime  Heu   Graph
0   3   6    1     182       5         0    1  fat200
1   6   9    1     129       8         0    1  fat200
2   9  12    1     127      11         0    1  fat200
3  12  15    1  16,943      11         0    0  fat200
4  15  18    1  15,681      11         0    0  fat200

In [49]:
sum([int(i.replace(",","")) for i in temp['Time'].values])

2575516269

In [33]:
x =

In [14]:
df1 = pd.read_csv(os.path.join(path,file_list[1]),sep="|")
df1['Graph'] = [file_list[1]]*len(df1)

In [17]:
pd.concat((df,df1))

   N1  N2    QID           Time  Degree  Overtime  Heu    Graph
0   3   6     97          2,113       3         0    0  100.txt
1   6   9     96          2,809       3         0    0  100.txt
2   9  12     95         16,679       3         0    0  100.txt
3  12  15     94         50,946       3         0    0  100.txt
4  15  18     93        228,876       3         0    0  100.txt
5  18  21     92      1,569,059       3         0    0  100.txt
6  21  24     91      4,117,864       3         0    0  100.txt
0   3   6   5535         15,447       5         0    1  astroPh
1   6   9   7777         15,471       8         0    1  astroPh
2   9  12   6948         15,411      11         0    1  astroPh
3  12  15  12895  1,800,112,643       6         1    0  astroPh
4  15  18   6074         15,613      17         0    1  astroPh
5  18  21  12980         16,685      20         0    1  astroPh
6  21  24   6428    775,324,999      15         0    0  astroPh